/* FONTS */
@font-face {
    font-family: "KanjiStrokeOrders";
    src: url("./fonts/KanjiStrokeOrders_v4.004.ttf");
}
@font-face {
    font-family: "NotoSansJP";
    src: url("./fonts/NotoSansJP-Regular.otf");
}

@font-face {
    font-family: "BabelStoneHan";
    src: url("./fonts/BabelStoneHan.ttf");
}

body {
    background:#121212;
    color:#e4e4e4;
    font-family: "NotoSansJP";
    
}
*{box-sizing: border-box;}
.content {
    max-width: 900px;
    margin: 10px auto;
  }
/* card */
.card, .header, .list {
    position:relative;
    background:#1e1e1e;
    display:flex;
    border-radius: 5px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
}
.card.added {
    border-left:3px solid #16cc2e;
}
.error {
    padding:20px;
    border-radius: 5px;
    background-color: #1e1e1e;
    border-left:3px solid red;
}
.header {
    padding:10px;
}
.card .right {
    display: flex;
    flex-direction: column;
    flex-grow: 2;    
    align-items: flex-start;
    padding:10px;

}
.card .left .kanji {
    font-family:"NotoSansJP", "BabelStoneHan";
    font-size:120pt;
    padding:10px;
}
.card .left .kanji:hover {
    font-family:"KanjiStrokeOrders", "BabelStoneHan";
}
.card .right .meta, .card .right .components {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    padding:10px 0;
}
.card .right .readings {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center; 
}
.card .right .story {
    padding:10px 0;
    color:#959595;
}

.card .right .meta .item {
    margin:0 20px 0 0;
    color:#959595;
    font-size: 0.7em;
    text-transform: uppercase;
}
.card .right .meta .item .ref::after {
    content:': ';
}
.card .right .meanings {
    font-size: 1.4em;
    margin:15px 0 25px 0;
}
.card .right .other_forms {
    color:#959595;
}
.card .right .readings .reading, .card .right .components .component a {
    background-color:#121212;
    margin:0 10px 5px 0;
    padding:5px 10px;
    border-radius: 5px;    
    font-family: "NotoSansJP";
}
.card .right .component {
    font-size: 1.6em;
}
.card .action {
    position: absolute;
    top:10px;
    right:10px;
}
.card .action form {
    display:inline-block;
}
.card.empty {
    padding:20px;
}

/* FORM STUFF */
button {
    cursor:pointer;
    background-color:#121212;
    padding:5px 10px;
    border-radius: 5px;    
    font-family: "NotoSansJP";
    text-transform: uppercase;
    font-size: 0.8em;
    border:none;
}
.header input {
    background-color:#121212;
    padding:10px 20px;
    border-radius: 5px;  
    font-family: "NotoSansJP","BabelStoneHan";
    color:#e4e4e4;
    border:none;
    width:100%;
    font-size: 1.4em;

}
.header form {
    width:100%;
}
a, button {
    text-decoration: none;
    color:#b173fd;
}
a:hover, button:hover{
    color:#d7b7fd;
}
.edit textarea, .edit input {
    background-color:#121212;
    color:#e4e4e4;
    border:none;
    border-radius: 5px;
    padding:10px;
    width:100%;
    font-size: 1em;    
    font-family: "NotoSansJP";
}

.edit {
    width:100%;
    margin-top: 10px;
    display:none;
}
.edit span {
    display:block;
    text-transform: uppercase;
    color:#959595;
    font-size: 0.85em;
}
.header {
    display: flex;
    flex-direction: column;
}
.header a, .header button {
    background:#121212;
    padding:10px 15px;
    margin:10px 10px 10px 0;
    display:inline-block;
    border-radius: 5px;
    font-size:1em;
}
.header form {
    display:inline;
}
.review {
    color:#16cc2e;
}
.review:hover{
    color:#6ff882;

}

.list {
    display:block;
    padding:10px 20px;
}
.list a{
    font-size: 2.2em;
}
.list a.added {
    color:#16cc2e;
}
.list a.added:hover {
    color:#6ff882;
}

.words .word {
    border-radius: 5px;
    padding:10px;    
    background:#121212;
    margin-bottom:10px;
    display: inline-block;
}
hr {
    display:block;
    height:2px;
    background:#121212;
    border:none;
    margin:20px 0;
}

.rating {
    display:flex;
    justify-content: center;
    margin-bottom:10px;

}
.rating button {
    font-size:1.2em;
    margin:5px;
}
.selected {
    border-bottom:2px solid #ffffff;
}
.card .right .components .component a{
    font-family:"NotoSansJP", "BabelStoneHan";
}