/* FONTS */
@font-face {
    font-family: "KanjiStrokeOrders";
    src: url("./fonts/KanjiStrokeOrders_v4.004.ttf");
}
@font-face {
    font-family: "NotoSansJP";
    src: url("./fonts/NotoSansJP-Regular.otf");
}

@font-face {
    font-family: "BabelStoneHan";
    src: url("./fonts/BabelStoneHan.ttf");
}

body {
    background:#121212;
    color:#e4e4e4;
    font-family: "NotoSansJP";    
}
*{box-sizing: border-box;}
.content {
    max-width: 1200px;
    margin: 10px auto;
  }
/* card */
.card, .header, .list {
    position:relative;
    background:#1e1e1e;
    display:flex;
    border-radius: 5px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
}
.card.added {
    border:2px solid #16cc2e;
}
.error {
    padding:20px;
    border-radius: 5px;
    background-color: #1e1e1e;
    border-left:3px solid red;
}
.header {
    padding:10px;
}
.card .right {
    display: flex;
    flex-direction: column;
    flex-grow: 2;    
    align-items: flex-start;
    padding:10px;
}
.card .right img {
    max-width: 100%;
    max-height: 250px;
}
.card .left .kanji {
    font-family:"NotoSansJP", "BabelStoneHan";
    font-size:120pt;
    padding:10px;
}
.card .left .big-kanji {
    font-family:"KanjiStrokeOrders", "BabelStoneHan";
    font-size:120pt;
    padding:10px;
}
.card .right .meta, .card .right .components {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    margin-top:10px;
}
.card .right .readings {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center; 
}
.card .right .story {
    padding:5px 0;
    color:#959595;
}

.card .right .meta .item {
    margin:0 20px 0 0;
    color:#959595;
    font-size: 0.7em;
    text-transform: uppercase;
}
.card .right .meta .item .ref::after {
    content:': ';
}
.card .right .meanings {
    font-size: 1.4em;
    margin:10px 0 ;
}
.card .right .other_forms {
    color:#959595;
}
.card .right .readings .reading, .card .right .component a {
    background-color:#121212;
    margin:0 10px 5px 0;
    padding:5px 10px;
    border-radius: 5px;    
    font-family: "NotoSansJP";
}
.card .right .component {
    font-size: 1.6em;
}
.card .action {
    position: absolute;
    top:10px;
    right:10px;
}
.card .action form {
    display:inline-block;
}
.card.empty {
    padding:20px;
}

/* SEARCH */
.card.search .kanji {
    font-size:4em;
}
.card.search .meanings {
    font-size: 1.2em;
    margin:7px 0;
}
.search-word {
    padding:15px;
    vertical-align: middle;
    font-size:1.3em;
}

/* FORM STUFF */
button {
    cursor:pointer;
    background-color:#121212;
    padding:5px 10px;
    border-radius: 5px;    
    font-family: "NotoSansJP";
    text-transform: uppercase;
    font-size: 0.8em;
    border:none;
}
.header input {
    background-color:#121212;
    padding:10px 20px;
    border-radius: 5px;  
    font-family: "NotoSansJP","BabelStoneHan";
    color:#e4e4e4;
    border:none;
    width:100%;
    font-size: 1.4em;
    margin-bottom:10px;
}
.header form {
    width:100%;
}
a, button {
    text-decoration: none;
    color:#b173fd;
}
a:hover, button:hover{
    color:#d7b7fd;
}
.edit textarea, .edit input {
    background-color:#121212;
    color:#e4e4e4;
    border:none;
    border-radius: 5px;
    padding:10px;
    width:100%;
    font-size: 1em;    
    font-family: "NotoSansJP", "BabelStoneHan";
}

.edit {
    width:100%;
    margin-top: 10px;
    display:none;
}
.edit span {
    display:block;
    text-transform: uppercase;
    color:#959595;
    font-size: 0.85em;
}
.header {
    display: flex;
    flex-direction: column;
}
.header .header-actions a, .header button {
    background:#121212;
    padding:10px 15px;
    margin:10px 10px 10px 0;
    display:inline-block;
    border-radius: 5px;
    font-size:1em;
}
.header .header-actions .export {
    background:none;
    padding:10px 0;
}
.header form {
    display:inline;
}
.review {
    color:#16cc2e;
}
.review:hover{
    color:#6ff882;

}

.list {
    display:block;
    padding:10px 20px;
}
.list a{
    font-size: 2.2em;
}
.list a.added {
    color:#16cc2e;
}
.list a.added:hover {
    color:#6ff882;
}

.words .word {
    border-radius: 5px;  
    background:#121212;
    margin-bottom:10px;
    display: inline-block;
    position:relative;
    cursor:default;
}
.title {
    text-transform: uppercase;
    color:#959595;
    font-weight: bold;
    font-size:0.9em;
    padding:5px 0;
    margin-top:5px;
}
hr {
    display:block;
    height:2px;
    background:#121212;
    border:none;
    margin:20px 0;
}

.rating {
    display:flex;
    justify-content: center;
    margin-bottom:10px;

}
.rating button {
    font-size:1.2em;
    margin:5px;
}
.selected {
    border-bottom:2px solid #ffffff;
}
.card .right .components .component a{
    font-family:"NotoSansJP", "BabelStoneHan";
}
.rules {
    display:block;
}
.story span {
    color:#e4e4e4;
}
button.options {
    background:none;
    text-transform: none;
}

/* PRINT */
.print-body {
    color:#000;
    background-color:#FFF;
}
.print {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.print .print-row {
    border:1px solid #EFEFEF;
    display:flex;
    width:48%;
    margin-bottom:10px;
    page-break-inside: avoid;
}
.print .print-literal {
    font-size:2.5em;
    padding:10px;
}
.print .print-meanings {
    font-size:1.2em;
}
.print .print-extras {
    display: flex;
    flex-direction: column;
    width:100%;
    padding:10px;
}


/* EXAMPLE HOVER */
.example-text {
    position:absolute;
    display:inline-block;
    text-align: center;
    max-width:300px;
    width:300px;
    background:rgba(0, 0, 0, 0.95);
    z-index:10;
    padding:10px;
    visibility:hidden;
    overflow-wrap: break-word;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
}
.word {
    overflow: visible;
}
.word a {
    display: inline-block;
    font-size: 1.6em;
    padding:10px;
}
.word:hover .example-text {
    visibility: visible;
}
.words form {
    display:inline-block;
}
.example-text form {
    display: block;
    margin-top:10px;
}