/* FONTS */
@font-face {
    font-family: "KanjiStrokeOrders";
    src: url("./fonts/KanjiStrokeOrders_v4.004.ttf");
}
@font-face {
    font-family: "NotoSansJP";
    src: url("./fonts/NotoSansJP-Regular.otf");
}

body {
    background:#121212;
    color:#e4e4e4;
    font-family: "NotoSansJP";
    
}
*{box-sizing: border-box;}
.content {
    max-width: 900px;
    margin: 10px auto;
  }
/* card */
.card, .header {
    position:relative;
    background:#1e1e1e;
    display:flex;
    border-radius: 5px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
}
.header {
    padding:10px;
}
.card .right {
    display: flex;
    flex-direction: column;
    flex-grow: 2;    
    align-items: flex-start;
    padding:10px;

}
.card .left .kanji {
    font-family:"NotoSansJP";
    font-size:120pt;
    padding:10px;
}
.card .left .kanji:hover {
    font-family:"KanjiStrokeOrders";
}
.card .right .meta, .card .right .readings, .card .right .components {
    display:flex;
    flex-direction: row;
    justify-items: center;
    padding:10px 0;
}
.card .right .story {
    padding:10px 0;
    color:#959595;
}

.card .right .meta .item {
    margin:0 20px 0 0;
    color:#959595;
    font-size: 0.7em;
    text-transform: uppercase;
}
.card .right .meta .item .ref::after {
    content:': ';
}
.card .right .meanings {
    font-size: 1.4em;;
}
.card .right .readings .reading, .card .right .components .component a {
    background-color:#121212;
    margin-right:10px;
    padding:5px 10px;
    border-radius: 5px;    
    font-family: "NotoSansJP";
}
.card .action {
    position: absolute;
    top:10px;
    right:10px;
}

/* FORM STUFF */
button {
    cursor:pointer;
    background-color:#121212;
    padding:5px 10px;
    border-radius: 5px;    
    font-family: "NotoSansJP";
    text-transform: uppercase;
    font-size: 0.8em;
    border:none;
}
a, button {
    text-decoration: none;
    color:#b173fd;
}
a:hover, button:hover{
    color:#d7b7fd;
}
.edit textarea, .edit input {
    background-color:#121212;
    color:#e4e4e4;
    border:none;
    border-radius: 5px;
    padding:10px;
    width:100%;
    font-size: 1em;    
    font-family: "NotoSansJP";
}

.edit {
    width:100%;
    margin-top: 10px;
    display:none;
}
.edit span {
    display:block;
    text-transform: uppercase;
    color:#959595;
    font-size: 0.85em;
}